html { 
  background: url(andrew-kovac-741991-unsplash.jpg) no-repeat center fixed; 
  background-size: cover;
}

 div {

 	color: #455059;
 	text-align: center;
 }

 h1 {
    color: #9B2E23;
    font-family: GeosansLight;
    font-size: 200%;
}

div {
    font-family: Helvetica;
    font-size: 100%;

}

div {
   border-style: "groove";
}

 div.email {
 	border: 1px; 
 	margin-top: 20px;
 	margin-bottom: 20px;
 	margin-right: 20%;
 	margin-left: 20%;
 	padding-top: 30px;
 	padding-bottom: 30px;
 	padding-right: 15%;
 	padding-left: 15%;
    background-color: #BF7256;

}

  textarea {
 	position: center;
 	top: 15px;

 }

 table {
 	margin-top: 10px;
 	margin-left: auto;
 	margin-right: auto;
 	background-color: #9B2E23
 	border-style: "groove";
 }

input.text {


}






 

